# Diretórios de dependências e de build
node_modules/
dist/
build/

# Arquivo de variáveis de ambiente
# Contém dados sensíveis como senhas e chaves de API.
.env

# Arquivos de log e de cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Arquivos de sistema e de IDE
.DS_Store
.vscode/